<form id="form_pq_email" method="POST" class="m-form m-form--fit m-form--label-align-right"
      action="{{ action_url }}"
      autocomplete="off">
    <div class="m-portlet__body m--margin-15">

        <div class="form-group m-form__group row">

            <div class="col-lg-12 m-form__group-sub">
                <label>Testo Email:</label>
                <div class="m-input-icon m-input-icon--right">
                    <textarea name="testo" class="summernote form-control m-input"></textarea>
                </div>
                <span class="m-form__help">Testo della email</span>
            </div>
            <br><br>

            <div class="col-lg-12 m-form__group-sub">
                <label>* Indirizzo da Utilizzare:</label>
                <div class="m-input-icon m-input-icon--right">
                    <select name="indirizzo" class="form-control m-input">
                        {% for a in addresses %}
                            {% if a is not null %}
                            <option value="{{ a }}">{{ a }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <span class="m-form__help">Scegliere quale indirizzo del cliente utilizzare</span>
            </div>



        </div>
    </div>


    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
        <div class="m-form__actions m-form__actions--line">
            <div class="row">
                <div class="col-lg-6">
                    <button type="submit" data-wizard-action="submit" class="btn btn-primary">Salva
                    </button>
                    <button type="reset" class="btn btn-secondary">Annulla</button>
                </div>
            </div>
        </div>
    </div>

</form>

<script>
    var SummernoteDemo = {
        init: function () {
            $(".summernote").summernote({height: 200})
        }
    };
    jQuery(document).ready(function () {
        SummernoteDemo.init()
    });
</script>