<div class="m-wizard__nav">
    <div class="m-wizard__steps">
        <div class="m-wizard__step m-wizard__step--current"
             data-wizard-target="#m_wizard_form_step_1">
            <div class="m-wizard__step-info">
                <a href="#" class="m-wizard__step-number">
                                                                <span>
                                                                    <span>
                                                                        1
                                                                    </span>
                                                                </span>
                </a>
                <div class="m-wizard__step-line">
                    <span></span>
                </div>
                <div class="m-wizard__step-label">
                    Generalità Itinerario
                </div>
            </div>
        </div>
        <div class="m-wizard__step" data-wizard-target="#m_wizard_form_step_2">
            <div class="m-wizard__step-info">
                <a href="#" class="m-wizard__step-number">
                                                                    <span>
                                                                        <span>
                                                                            2
                                                                        </span>
                                                                    </span>
                </a>
                <div class="m-wizard__step-line">
                    <span></span>
                </div>
                <div class="m-wizard__step-label">
                    Riepilogo
                </div>
            </div>
        </div>
    </div>
</div>