.foto-ordine {
    max-width:100%;
}

.prezzo-prodotto {
    color: #5AB02D;
}

.blockOverlay {
    opacity:0.5 !important;
}

.m-blockui {
    margin-left:0 !important;
}

.right-30 {
    right:30px !important;
}

.bootstrap-touchspin-up, .bootstrap-touchspin-down {
    background-color: #eceaff !important;
}