.foto-ordine {
    max-width: 100%;
}

.prezzo-prodotto {
    color: #5AB02D;
}

.blockOverlay {
    opacity: 0.5 !important;
}

.m-blockui {
    margin-left: 0 !important;
}

.right-30 {
    right: 30px !important;
}

.bootstrap-touchspin-up, .bootstrap-touchspin-down {
    background-color: #eceaff !important;
}

.blockMsg {
    width: auto !important;
    left: 50% !important;
    transform: translateX(-50%);
}

.m-datatable__body {
    min-height: 400px;
}

.mCustomScrollBox {
    min-height: 400px;
}

.mCSB_container {
    min-height: 400px;
}

.details-table {
    font-size: 12px;
}

.details-table td {
    padding: 0.25rem;
}

.larger-details-table {
    font-size: 14px;
}

.larger-details-table td {
    padding: 0.35rem;
}

div.tagsinput {
    background: #FFF;
    width: inherit;
    height: inherit;
    overflow-y: auto;
    line-height: 17.5px;
    border: 1px rgb(235, 237, 242) solid;
    border-radius: 3.5px;
    padding: 0;
}

div.tagsinput span.tag {
    border: 1px solid #3645bb;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    display: block;
    float: left;
    padding: 0 0 0 5px;
    text-decoration: none;
    background: #5867dd;
    color: #fff;
    margin-right: 5px;
    margin-left: 5px;
    font-family: sans-serif, Arial;
    font-size: 14px;
    height: 30px;
    margin-top: 2.75px;
    line-height: 30px;
}

div.tagsinput span.tag a {
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    font-size: 11px;
    margin-right: 5px;
}

div.tagsinput input {
    width: 250px;
    height: 35.5px;
    margin: 0 5px 0 0;
    font-family: sans-serif, Arial;
    font-size: 14px;
    line-height: 17.5px;
    border: 1px solid transparent;
    background: transparent;
    color: inherit;
    outline: 0;
    padding-left: 5px;
}

div.tagsinput div {
    display: block;
    float: left;
}

.tags_clear {
    clear: both;
    width: 100%;
    height: 0;
}

.not_valid {
    background: #FBD8DB !important;
    color: #90111A !important;
}

.hidden {
    display: none !important;
}

.hidden_opac {
    opacity: 0 !important;
}

.new_order_table td {
    border-color: #ddd;
}

.new_order_table .head {
    background-color: #7aceff;
    color: #fff;
    font-weight: 500;
}

.responsive-table-custom {
    overflow-x: scroll;
}

.to_report_order .head {
    font-weight: 500;
    background-color: #ffb822;
}

.old_order .head {
    font-weight: 500;
    background-color: #c4c5d6;
}

.future_order .head {
    background-color: #34bfa3;
    color: #fff;
    font-weight: 500;
}

.m-portlet .m-portlet__head {
    height: 4.1rem;
}

.m-form .m-form__actions {
    padding: 15px 30px;
}

.m-portlet .m-portlet__body {
    padding: 1.2rem 2.2rem;
}

.m-body .m-content {
    padding: 30px 30px;
}

.m-subheader {
    padding: 15px 30px 0 30px;
}

.nodisplay {
    display: none;
}

.bg-aliceblue {
    background-color: aliceblue;
}

.bg-itinerario {
    background-color: #fffbce;
}

.m-form .m-form__group {
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    /* padding-top: 15px; */
    /* padding-bottom: 15px; */
}

.form-control {
    font-weight: 600;
}

.dropdown-menu > .dropdown-item, .dropdown-menu > li > a {
    display: block;
    padding: 0.4rem 1.2rem;
}

.m-datatable.m-datatable--default > .m-datatable__table > .m-datatable__body .m-datatable__row > .m-datatable__cell, .m-datatable.m-datatable--default > .m-datatable__table > .m-datatable__foot .m-datatable__row > .m-datatable__cell, .m-datatable.m-datatable--default > .m-datatable__table > .m-datatable__head .m-datatable__row > .m-datatable__cell {
    padding: 6px 10px;
}

.turn_employee_name {
    font-size: 14px;
    padding-top: 7px;
    padding-left:0;
    padding-right:0;
}

.turn_body .m-form__group-sub {

}

.turn_heading .m-form__group-sub {
    font-size:14px;
    color:#333;
    font-weight:600;
    padding: 0 15px;
    text-align:center;
    border-bottom: 1px #ccc solid;
    padding-bottom:15px;
}

.date-navigator {
    font-size:2.2rem !important;
}

.turn_table td, .turn_table th {
    border-color: #999;
    padding:0 5px;
}

.turn_table tr {
    transition: 0.5s all;
}

.turn_table tr:hover {
    background-color:#eee;
}

.driver_select {
    width: 100px;
}

.highlighted_row {
    background-color: lemonchiffon !important;
}

.payment-totals {
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
}

.payment-totals td {
    height:37px;
    border: 1px #ddd solid;
    font-weight:600;
}

.payment-totals td:nth-child(odd) {
    width:80px;
}

.payment-totals td:nth-child(even) {
    width:170px;
}

.driver-orders-pane {
    overflow-x: scroll;
}

.driver-orders-pane table {
    -webkit-box-shadow: 1px 6px 28px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 6px 28px -1px rgba(0,0,0,0.75);
    box-shadow: 1px 6px 28px -1px rgba(0,0,0,0.75);
    margin-bottom:50px;
}


.service-order-portlet {
    border:1px #666 solid;
}

.service-order-portlet .m-portlet__foot {
    text-align:center;
}

.service-order-portlet .m-portlet__foot a {
    margin-bottom:10px;
}

.driver-service-order-detail span {
    font-weight:600;
}

.vehicle-association-checkbox-container {
    border: 1px #ddd solid;
}
