.foto-ordine {
    max-width:100%;
}

.prezzo-prodotto {
    color: #5AB02D;
}

.blockOverlay {
    opacity:0.5 !important;
}

.m-blockui {
    margin-left:0 !important;
}

.right-30 {
    right:30px !important;
}

.bootstrap-touchspin-up, .bootstrap-touchspin-down {
    background-color: #eceaff !important;
}

.blockMsg {
    width:auto !important;
    left:50% !important;
    transform: translateX(-50%);
}

.m-datatable__body {
    min-height:400px;
}

.mCustomScrollBox {
    min-height:400px;
}

.mCSB_container {
    min-height:400px;
}

.details-table {
    font-size: 12px;
}

.details-table td {
    padding: 0.25rem;
}

.larger-details-table {
    font-size: 14px;
}

.larger-details-table td {
    padding: 0.35rem;
}