<!DOCTYPE html>
<html>
<head>
    <title>Footer</title>
</head>
<body>
<div style="width: 100%">
    <img alt="Footer Preventivo" src="{{ absolute_url(asset('assets/custom_images/footer_preventivo.jpeg')) }}" style="width: 100%;"/>
</div>
</body>
</html>