<!DOCTYPE html>
<html>
<head>
    <title>Header</title>
</head>
<body>
<div style="width: 100%">
    <img alt="Logo Redentours" src="{{ absolute_url(asset('assets/custom_images/header_preventivo.jpeg')) }}" style="width: 100%;"/>
</div>
</body>
</html>