<div class="modal-header">
    <h5 class="modal-title" id="">
        {{ modal_title }}
    </h5>
    <button type="button" class="close" data-dismiss="modal"
            aria-label="Close">
        <span aria-hidden="true" class="la la-remove"></span>
    </button>
</div>
<div id="modal_ajax_content">
    {{ modal_content|raw }}
</div>