<div class="modal fade" id="generic_modal" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="generic_modal_content">

        </div>
    </div>
</div>