<div class="modal fade" id="create_category" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">
                    Crea Categoria
                </h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true" class="la la-remove"></span>
                </button>
            </div>
            <form id="form_category" class="m-form m-form--fit m-form--label-align-right" method="POST"
                  action="{{ path('create_category_ajax') }}">
                <div class="modal-body">
                    <div class="form-group m-form__group row m--margin-top-20">
                        <label class="col-form-label col-lg-3 col-sm-12">
                            Nome categoria
                        </label>
                        <div class="col-lg-9 col-md-9 col-sm-12">
                            {{ form_widget(category_form._token) }}
                            {{ form_widget(category_form.category_name) }}
                            <span class="m-form__help">
														Inserire il nome della categoria da creare. Max 32 caratteri.
													</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary m-btn"
                            data-dismiss="modal">
                        Chiudi
                    </button>
                    <button type="submit" class="btn btn-brand m-btn">
                        Invia
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>