<form id="form_maintenance_setup" method="POST" class="m-form m-form--fit m-form--label-align-right"
      action="{{ action_url }}"
      autocomplete="off">
    <div class="m-portlet__body">

        {{ form_widget(form._token) }}
        <div class="col-xs-12">

            <div class="repeater">

                <div data-repeater-list="setup_maintenance[maintenanceRelationships]">

                    {% for d in form.maintenanceRelationships %}

                        <div data-repeater-item>

                            <div class="form-group m-form__group row m--margin-top-10">

                                <div class="col-lg-9 m-form__group-sub">
                                    {#<label>* Qtà:</label>#}
                                    {{ form_widget(d.maintenanceType) }}
                                    <span class="m-form__help"></span>
                                </div>

                                <div class="col-md-3 m-form__group-sub">
                                    {#<label class="form-control-label">&nbsp;</label><br>#}
                                    <div data-repeater-delete=""
                                         class="btn-sm btn btn-danger m-btn m-btn--icon">
                                            <span>
                                                <i class="la la-trash-o"></i>
                                                <span>Rimuovi</span>
                                            </span>
                                    </div>
                                </div>

                            </div>

                        </div>

                    {% endfor %}

                </div>

                <div class="form-group m-form__group row">
                    <div class="col text-left">
                        <div data-repeater-create=""
                             class="btn btn btn-primary m-btn m-btn--icon m--margin-top-10 m--margin-bottom-10">
                                                    <span>
                                                        <i class="la la-plus"></i>
                                                        <span>Aggiungi Oggetto</span>
                                                    </span>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
        <div class="m-form__actions m-form__actions--line">
            <div class="row">
                <div class="col-lg-6">
                    <button type="submit" data-wizard-action="submit" class="btn btn-primary">Salva
                    </button>
                    <button type="reset" class="btn btn-secondary">Annulla</button>
                </div>
            </div>
        </div>
    </div>

</form>